<%= partial("header.html") %>
<h2><%= text.Title %></h2>
<ul class="list-unstyled list-inline">
  <li><a href="<%= textsPath() %>" class="btn btn-info">Back to all Texts</a></li>
  <%= if (current_user.ID.String() == text.AuthorID.String()) { %>
    <li><a href="<%= editTextPath({ text_id: text.ID })%>" class="btn btn-warning">Edit</a></li>
    <li><a href="<%= textPath({ text_id: text.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
  <% } %>
</ul>

<p><%= markdown(text.Content) %></p>
