<header>
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-2 logo">
                <a href="<%= rootPath() %>"><img src="<%= rootPath() %>assets/images/logo.svg" alt=""></a>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 titles">
                <h1><%= t("app_name") %></h1>
                <h3 class="subtitle">🌲 Walk & talk with friends</h3>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-4">
                <%= if (current_user) { %>
                    <div class="dropdown ">
                        <a class="dropdown-toggle" href="<%= userPath({user_id: current_user.ID}) %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img class="avatar avatar-48" src="<%= current_user.AvatarURL %>">
                        </a>
                        
                        <ul class="dropdown-menu" >
                            <li><a class="dropdown-item" href="<%= userPath({user_id: current_user.ID}) %>">Profile</a></li>
                            <li><a class="dropdown-item" href="#">My drafts</a></li>
                            <li><a class="dropdown-item" href="/auth" data-method="DELETE">Log Out</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
        
    </div>
</header>


