<%= partial("header.html") %>

<!-- sign in & link to invitation -->
<%= if (!current_user) { %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <div class="row">
        <div class="col-*">
          <h2 class="signin-title">Sign in</h2>
        </div>
      </div>
      <div class="row">
          <%= partial("signin-btns.html") %>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Invitations</h2>
      <p class="text">Some lame invitation text for now...</p>
    </div>
  </div>  
</div>
<% } %> <!-- end of sign in row -->

<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container">
        <h3>Defined Routes</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr text-align="left">
            <th class="centered">METHOD</th>
            <th>PATH</th>
            <th>NAME</th>
            <th>HANDLER</th>
          </tr>
        </thead>
        <tbody>

          <%= for (r) in routes { %>
            <tr>
              <td class="centered">
                <%= r.Method %>
              </td>
              <td>
                <%= if (r.Method != "GET" || r.Path ~= "{") { %>
                  <%= r.Path %>
                <% } else { %>
                  <a href="<%= r.Path %>"><%= r.Path %></a>
                <% } %>
              </td>
              <td>
                <%= r.PathName %>
              </td>
              <td><code><%= r.HandlerName %></code></td>
            </tr>
          <% } %>

        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="foot"> <span> Powered by <a href="http://gobuffalo.io/">gobuffalo.io</a></span> </div>
