<%= partial("header.html") %>

<!-- user profile info -->
<div class="row">
  <div class="col-md-1 col-sm-2 col-xs-2 logo">
      <img src="<%= user.AvatarURL %>" alt="avatar" class="avatar avatar-100">
  </div>
  <div class="col-md-4">
    <h4><%= user.Name %>
      <small class="text-muted">@<%= user.Nickname %></small>
    </h4>
    <p>via <%= user.Provider.String %> since <%= user.CreatedAt %></p>
    <p class="text"><%= user.Bio %></p>
    <%= if(is_self()) { %>
      <ul class="list-unstyled list-inline">
        <li><a href="<%= editUserPath({ user_id: user.ID })%>" class="btn btn-warning">Edit</a></li>
        <li><a href="<%= userPath({ user_id: user.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Delete Account</a>
      </ul>
    <% } %>
  </div>
  <div class="col-md-6">
    <%= if(can_invite() && (is_self()))  { %>
      <h4>Invite a friend to join Kumano</h4>
      <%= form({action: usersPath(), method: "POST", class: "form-inline"}) { %>
        <%= partial("users/form.html") %>
      </form> <% }%>
    <% } 
    <%= if (is_admin()) { %>
      <ul>
        <li>ID: <%= user.ID %></li>
        <li>Provider: <%= user.Provider %>/<%= user.ProviderID %></li>
        <li>CreatedAt: <%= user.CreatedAt %></li>
        <li>InvitedAt: <%= user.InvitedAt %></li>
        <li>SignedUpAt: <%= user.SignedUpAt %></li>
        <li>UpdatedAt: <%= user.UpdatedAt %></li>
        <li>LastPostedAt: <%= user.LastPostedAt %></li>
        <li>LastLoggedAt: <%= user.LastLoggedAt %></li>
        <li>AvatarURL: <%= user.AvatarURL %></li>
        <li>Email: <%= user.Email %></li>
        <li>InvitationToken: <%= user.InvitationToken %></li>
        <li>IsAdmin: <%= user.IsAdmin %></li>
        <li>Score: <%= user.Score %></li>
        <li>SponsorshipsCount: <%= user.SponsorshipsCount %></li>
        <li>SponsorID: <%= user.SponsorID %></li>
      </ul>
    <% } %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Cupcake ipsum dolor sit amet bear claw apple pie liquorice sweet roll. Tiramisu croissant cake chupa chups halvah candy jujubes marshmallow. Pie halvah liquorice cheesecake brownie fruitcake soufflé sugar plum. Icing macaroon marshmallow cake liquorice candy croissant wafer cookie. Candy canes chocolate cake lollipop. Halvah cake croissant cheesecake sweet roll pie dragée bear claw. Sesame snaps cake tart pudding icing cake. Apple pie marshmallow cotton candy jelly-o jelly beans dragée liquorice jelly-o. Sweet soufflé cotton candy apple pie danish cake chocolate sweet roll. Chocolate cake cheesecake carrot cake topping muffin gummies. Cookie carrot cake sweet croissant candy canes. Chocolate bar macaroon sesame snaps tootsie roll tiramisu tootsie roll. Chupa chups gummi bears jujubes gummi bears macaroon caramels topping cake. Cotton candy pastry cake.</p>
    <p>54幻3団割にみら金保名ちひりか出出セス右7世オヌヤト件璃おぐぎす著速投会びル属浴ヒイ講2再否由に。本ん応図リ古博後リだ確賞メワチヘ閉大リヤヘ止逮ヌヨ地権シハキユ宇校ミリヘコ最最手イサ監10歩渡ッむすざ。庁もあ准写ヤウモ部口げた須議モ軽北むじ育問う吉員ルソシ一政もゃ也型よンべ載込え散健ンみゃ日廟ねスり氏球済ユヌ有計セコト大深ヌ栽代印円ずどちぐ。.</p>
  </div>
</div>
  
 